$navbarHeight : 90px;

.home {
    height: 100%;
    .content{
        height: 100%;
        display: flex;

        .main {
            flex: 1;
            overflow-y: auto;
            padding: 27px 50px;
            .cardsContainer {
                align-items: center;
                display: flex;
                flex-wrap: wrap;
                gap: 40px 80px;
                justify-content: center;
            }

            .loadingContainer {
                align-items: center;
                display: flex;
                justify-content: center;
                height: 75vh;
            }
        }
    }
}