$navbarHeight : 90px;

.home {
    height: 100vh;
    .content{
        padding-top: $navbarHeight;
        height: calc(100vh - $navbarHeight);
        display: flex;

        .main {
            flex: 1;
            padding: 27px 50px;
            overflow-y: scroll;
            .cardsContainer {
                align-items: center;
                display: flex;
                flex-wrap: wrap;
                gap: 40px 60px;
                justify-content: center;
            }

            .loadingContainer {
                align-items: center;
                display: flex;
                justify-content: center;
                height: 75vh;
            }
        }
    }
}