.searchBar {
    position: relative;
    margin-bottom: 40px;

    &__input {
        width: 100%;
        background-color: white;
        padding: 10px 22px;
        border-radius: 8px;
        box-sizing: border-box;
        border: 1px solid #b1b1b1;
        box-shadow: 4px 4px 8px rgba(0,0,0,.25);
        font-size: 18px;
    }

    &__icon{
        border: 1px solid white;
        position: absolute;
        right: 15px;
        top: 12px;
        color: #b1b1b1;
    }
}