$navbarHeight : 90px;

.breedForm {
    height: calc(100vh - $navbarHeight);
    display: flex;
    justify-content: center;
    align-items: center;

    .content {
        background-color: #fff;
        box-shadow: 4px 4px 8px rgba(0,0,0,.25);
        padding: 20px;
        border-radius: 8px;
        max-width: 500px;
        min-width: 300px;
        margin: 8px;

        input {
            padding: 4px 8px;
        }

        .formTitle{
            font-size: 24px;
            font-weight: 900;
            margin-bottom: 20px;
            text-align: center;
        }

        .textField {
            display: flex;
            flex-direction: column;
            justify-content: stretch;
            margin-bottom: 12px;

            label  {
                font-weight: 600;
            }
        }

        .minmaxField {

            .title {
                font-weight: 600;
            }

            .fields {
                display: flex;
                gap: 12px;

                .field {
                    margin-bottom: 12px;
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    // justify-content: stretch;
                }
            }
            
            @media screen and (max-width: 440px) {
                .fields {
                    display: block;
                }
            }
        }

        .error {
            color: red;
        }

        .submitBtn{
            width: 100%;
            margin: 12px 0;
            background-color: #FF9800;
            color: white;
            border-radius: 8px;
            box-shadow: 4px 4px 8px rgba(0,0,0, .25);
            padding: 8px 12px;
            border: none;

            font-weight: 600;
            font-size: 18px;

            cursor: pointer;

        }

        .temperaments{
            margin-top: 16px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .container {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                .temperamentBox {
                    margin-bottom: 4px;
                    margin-right: 4px;
                    border-radius: 8px;
                    padding: 4px 8px;
                    background-color: #fff;
                    border: 1px solid #C66900;
                    font-size: 14px;
                    cursor: pointer;
                }
                .selected {
                    border: none;
                    color: white;
                    background-color: #FF9800;
                    font-weight: 500;
                }
            }


        }
    }
}
